<div class="basic-form section">
  <div class="row">
    <div class="col s12 m12 l6 offset-l3">
      <div class="card-panel">
        <h4>Editar paciente</h4>
        <div class="row">
          <%= form_for @user do |f| %>
            <div class="row">
              <div class="input-field col s12">
                <%= f.label :first_name, "Nombre" %><br />
                <%= f.text_field :first_name, autofocus: true, class: "validate", 'data-validation' => "required" %>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <%= f.label :last_name, "Apellido" %><br />
                <%= f.text_field :last_name, autofocus: true, class: "validate", 'data-validation' => "required" %>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <%= f.label :email, "Correo electrónico" %><br />
                <%= f.email_field :email, autofocus: true, class: "validate", 'data-validation' => "required" %>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <%= f.label :phone, "Teléfono" %><br />
                <%= f.text_field :phone, autofocus: true, class: "validate" %>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <%= f.label :address, "Dirección" %><br />
                <%= f.text_field :address, autofocus: true, class: "validate" %>
              </div>
            </div>

            <div class="row">
              <div class="actions col s12">
                <%= f.submit "Guardar", class: "btn cyan waves-effect waves-light right" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script type="text/javascript">
  $.validate({
    lang: 'es'
  });
</script>
