<!DOCTYPE html>
<html>
<head>
  <title>Kino</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script src="https://use.fontawesome.com/e516f4fb94.js"></script>
</head>
<body>
  <div class="">
    <% flash.each do |name,msg| %>
      <script type="text/javascript">
        Materialize.toast("<%= msg %>", 4000)
      </script>
		<% end %>
    <% if user_signed_in? %>
      <%= render 'layouts/header_logged'%>
    <% else %>
      <%= render 'layouts/header'%>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer'%>
  </div>
</body>
</html>
